{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
{{ block.super }}
<!-- handsontable -->
<link rel="stylesheet" type="text/css" href='{% static "thirdparty/handsontable/handsontable.full.min.css" %}'>
<style>
.list-group > li:nth-child(even) {
  background: #f5f5f5;
}
</style>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'reduction:list' %}">Reduction</a></li>
        <li class="active">{{ object }}</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="container">

    <div class="page-header">
       <h1>Reduction details <small> {{ object }}</small></h1>
    </div>

	<!-- This is the reduction info -->
    <div class="container-fluid">
            <ul class="list-group">
                {% for f in object.get_all_fields %}
	                <li class="list-group-item">
						{% if f.name == "script" %}
							<pre><code>{{f.value}}</code></pre>
						{% else %}
							<strong>{{f.label|capfirst}}</strong>
							<span class="pull-right">{{f.value|escape|urlize|linebreaks}}</span>
						{% endif %}
	                </li>
	            {% endfor %}
            </ul>
    </div>
    <hr/>
    <!-- This is the region (low,med,high) info -->
    <div class="container-fluid">
			{% for entry in object.regions.all %}
			<h3>{{entry}}</h3>
            <ul class="list-group">
                {% for f in entry.get_all_fields %}
	                <li class="list-group-item">
						{% if f.name == "entries" %}
							<div id="hot-{{forloop.counter}}" value="{{f.value}}"></div>
						{% else %}
							<strong>{{f.label|capfirst}}</strong>
							<span class="pull-right">{{f.value|escape|urlize|linebreaks}}</span>
						{% endif %}
	                </li>
	            {% endfor %}
            </ul>
			{% endfor %}
    </div>

    <p>
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" href="{% url 'reduction:update' object.pk %}"
            title="Click to edit the details of this configuration."><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>

        <a id="button_delete" class="btn btn-danger" data-toggle="tooltip" data-placement="top" href="{% url 'reduction:delete' object.pk %}"
            title="Delete this reduction and associated regions."><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete...</a>

        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" href="{% url 'reduction:clone' object.pk %}"
            title="Creates a copy of this reduction as you might need a few different parameters.">Duplicate</a>

		<a class="btn btn-info" data-toggle="tooltip" data-placement="top" href="{% url 'reduction:script' object.id  %}"
            title="Generates a python script and prepare the job submission.">Auto Reduction...</a>
        
        <a class="btn btn-info" data-toggle="tooltip" data-placement="top" href="{% url 'reduction:script' object.id  %}"
            title="Generates a python script and prepare the job submission.">Run...</a>
          
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" href="{% url 'reduction:share' object.pk %}"
            title="Share the reduction among the members of the same IPTS"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</a>

        {% if object.job is not None %}
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" href="{% url 'results:job_detail' object.job.id  %}"
		    title="See the Job info and Results for this reduction.">Results...</a>
		{% endif %}
        <a id="cancel" class="btn btn-default" data-toggle="tooltip" data-placement="top" onclick="window.history.back()"
        	href="#" title="Goes back....">Cancel</a>
    </p>
</div>
{% endblock %}

{% block footer_js%}
{{ block.super }}
<!-- For the form symbols -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML" async>
</script>

<script src='{% static "thirdparty/handsontable/handsontable.full.min.js" %}'></script>
<!-- page script -->
<script>

/******************* handsontable *************************/

// Let's get the entries: id_regions-0-entries
var entriesSelectors = $('[id ^=hot]');

// For every input field add a div anchor to place the spreadsheet
$.each( entriesSelectors, function( i, selector ) {
    var dataAsString = $(selector).attr('value');
	dataAsString = dataAsString.replace(/\'/g,'"')
	dataAsString = dataAsString.replace(/None/g,'null')
	var data =  JSON.parse(dataAsString);
    //console.log(data);
    var options = {
        data: data,
        height: 200,
        minSpareRows: 0,
        stretchH: 'all',
        columnSorting: true,
        contextMenu: true,
        autoWrapRow: true,
        rowHeaders: true,
        contextMenu: true,
        outsideClickDeselects: false,
		readOnly: true,
        columns: [
            { data: "name" },
            { data: "thickness"},
            { data: "sample_scattering"},
            { data: "sample_transmission"},
            { data: "backgroung_scattering"},
            { data: "backgroung_transmission"}
        ],
        colHeaders: ["Name", "Thickness", "Sample Scattering", "Sample Transmission", "Backgroung Scattering",
                     "Backgroung Transmission"],

    };
    $(selector).handsontable(options);
    //remove it from the <ul>
    //$(selector).parent().parent().append($(selector));

});


</script>
{% endblock %}