{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block header %}
{{ block.super }}
{% endblock header %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'reduction:list' %}">Reduction</a>
        </li>
        <li class="active">{%if object %}{{object}}{% else %} new {% endif%}</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Reduction General
            <small>
                <strong>{{user.profile.ipts}}</strong> {%if user.profile.experiment %} /
                <strong>{{user.profile.experiment}} </strong> {% endif %} :: new</small>
        </h1>
    </div>

    <form method="post" action="" class="form-horizontal">

        <!-- The form part -->
        <div class="well">
            <div class="panel-body">
                {% crispy form %}
            </div>
        </div>

        <!-- The formsets part -->
        <div class="well">
            <h3> Plotting details </h3>
            {% crispy formset formset.form.helper %}
            <p class="text-right">
                <a href="#" id="add-formset" class="btn btn-info">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add another plot..</a>
            </p>
        </div>

        {# % crispy formset.empty_form % #}
        <!-- <a href="#" id="add" class="btn btn-info add-profile_kvp">Add another item</a> -->

        <hr />
        <button name="save" type="submit" class="btn btn-primary" data-toggle="tooltip"
            data-placement="top" title="Saves the reduction and go back to the list of reductions.">Save</button>
        <button name="run" type="submit" class="btn btn-info" data-toggle="tooltip" data-placement="top"
            title="Saves the reduction and generates the python script and prepares the job for submission.">Run...</button>
        <button type="cancel" class="btn btn-default" onclick="window.history.back()">Cancel</button>

    </form>

</div>
{% endblock %}

{% block footer_js%}
{{ block.super }}
<!-- For the form symbols -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML" async>
</script>
<script>
    /*
    For adding lines to the formset
    */
    $('#add-formset').click(function(event) {
        event.preventDefault();
        var empty_form_template = `{% crispy formset.empty_form formset.form.helper %}`;
        var form_idx = $('#id_regions-TOTAL_FORMS').val();
        var empty_form = "" + empty_form_template.replace(/__prefix__/g, form_idx) + "";
        $('.a-formset').last().after(empty_form);
        $('#id_regions-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        return false;
    });

</script>
{% endblock %}