{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block header %}
{{ block.super }}
{% endblock header %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'reduction:list' %}">Reduction</a>
        </li>
        <li class="active">{%if object %}{{object}}{% else %} new {% endif%}</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Reduction General
            <small>
                <strong>{{user.profile.ipts}}</strong> {%if user.profile.experiment %} /
                <strong>{{user.profile.experiment}} </strong> {% endif %} :: new</small>
        </h1>
    </div>

    <form method="post" action="" class="form-horizontal">

        <!-- The form part -->
        {{ formset.management_form }}
        <div class="well">
            <div class="panel-body">
                {% crispy form %}
            </div>
        </div>

        <!-- The formsets part -->
        <div class="well">
            {% crispy formset formset.form.helper %}
            <p></p>
            <a href="#" id="add_more" class="btn btn-info add-profile_kvp">Add another item...</a>
        </div>
        <p></p>

        {# % crispy formset.empty_form % #}
        <!-- <a href="#" id="add" class="btn btn-info add-profile_kvp">Add another item</a> -->

        <hr />
        <button name="save" type="submit" class="btn btn-primary" data-toggle="tooltip"
            data-placement="top" title="Saves the reduction and go back to the list of reductions.">Save</button>
        <button name="run" type="submit" class="btn btn-info" data-toggle="tooltip" data-placement="top"
            title="Saves the reduction and generates the python script and prepares the job for submission.">Run...</button>
        <button type="cancel" class="btn btn-default" onclick="window.history.back()">Cancel</button>

    </form>

</div>
{% endblock %}

{% block footer_js%}
{{ block.super }}

<script>


    $('#add_more').click(function() {
        var form_idx = $('#id_regions-TOTAL_FORMS').val();
        var empty_form = "<tr>" + $('.empty-form:first').html().replace(/__prefix__/g, form_idx) + "</tr>";
        $('.empty-form:last').parent().append(empty_form);
        $('#id_regions-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>
{% endblock %}