{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block header %}
{{ block.super }}
{% endblock header %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'reduction:list' %}">Reduction</a>
        </li>
        <li class="active">{%if object %}{{object}}{% else %} new {% endif%}</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Reduction General
            <small>
                <strong>{{user.profile.ipts}}</strong> {%if user.profile.experiment %} /
                <strong>{{user.profile.experiment}} </strong> {% endif %} :: new</small>
        </h1>
    </div>

    <form method="post" action="" class="form-horizontal">

        <!-- The form part -->
        {{ formset.management_form }}
        <div class="well">
            <div class="panel-body">
                {% crispy form %}
            </div>
        </div>

        <!-- The formsets part -->
        <div id="individual-form" class="well">
            {% crispy formset formset.form.helper %}
        </div>
        <p></p>
        {% crispy formset.empty_form %}
        <a href="#" id="add" class="btn btn-info add-profile_kvp">Add another item</a>

        <hr />
        <button name="save" type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Saves the reduction and go back to the list of reductions.">Save</button>
        <button name="run" type="submit" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Saves the reduction and generates the python script and prepares the job for submission.">Run...</button>
        <button type="cancel" class="btn btn-default" onclick="window.history.back()">Cancel</button>

    </form>

</div>
{% endblock %}

{% block footer_js%}
{{ block.super }}

$(document).ready(function () {
    // Code adapted from http://djangosnippets.org/snippets/1389/
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+-)');
        var replacement = prefix + '-' + ndx + '-';
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
        replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function deleteForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (formCount > 1) {
            // Delete the item/form
            $(btn).parents('.item').remove();
            var forms = $('.item'); // Get all the forms
            // Update the total number of forms (1 less than before)
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            var i = 0;
            // Go through the forms and set their indices, names and IDs
            for (formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).children().children().each(function () {
                    if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                });
            }
        } // End if
        else {
            alert("You have to enter at least one todo item!");
        }
        return false;
    }

    function addForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        // You can only submit a maximum of 10 todo items
        if (formCount < 10) {
            // Clone a form (without event handlers) from the first form
            var row = $(".item:first").clone(false).get(0);
            // Insert it after the last form
            $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

            // Remove the bits we don't want in the new row/form
            // e.g. error messages
            $(".errorlist", row).remove();
            $(row).children().removeClass("error");

            // Relabel or rename all the relevant bits
            $(row).children().children().each(function () {
                updateElementIndex(this, prefix, formCount);
                $(this).val("");
            });

            // Add an event handler for the delete item/form link
            $(row).find(".delete").click(function () {
                return deleteForm(this, prefix);
            });
            // Update the total form count
            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
        } // End if
        else {
            alert("Sorry, you can only enter a maximum of ten items.");
        }
        return false;
    }
    // Register the click event handlers
    $("#add").click(function () {
        return addForm(this, "form");
    });

    $(".delete").click(function () {
        return deleteForm(this, "form");
    });
});

{% endblock %}