 {% extends "base.html" %}
 
 {% load staticfiles %}

 {% load crispy_forms_tags %}
 
 {% block header %}
{{ block.super }}
<style type="text/css" media="screen">
    #editor {
		height: 600px;
		border-style: groove;
    }
</style>
<link rel="stylesheet" type="text/css" href='{% static "thirdparty/DataTables/datatables.min.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "thirdparty/DataTables/Buttons/css/buttons.bootstrap.min.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "thirdparty/DataTables/Select-1.2.2/js/dataTables.select.min.js" %}'>

<style type="text/css">
table.dataTable tbody tr.selected {
    background-color: #00451d !important;
}
</style>

{% endblock %}

 
{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'reduction:list' %}">Reduction</a></li>
        <li class="active">{{object}}</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Reduction<small> script</small></h1>
    </div>
    {#% crispy form  %#}

    {{ form.action|as_crispy_field }}
    {{ form.parameters|as_crispy_field }}
    {{ form.script|as_crispy_field }}
    </form>
</div>
<br/>



<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#runsModal">Open Modal</button>


      
        <!-- Modal -->
        <div class="modal fade" id="runsModal" role="dialog">
          <div class="modal-dialog">
          
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">

                            <table id="tableruns" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Run</th>
                                            <th>Title</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for run in runs %}
                                        <tr>
                                            <td></td>
                                            <td>{{run.metadata.run_number}}</td>
                                            <td>{{run.title}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>Run</th>
                                            <th>Title</th>
                                        </tr>
                                    </tfoot>
                                </table>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="pickSelectedRuns();">Pick these runs</button>
                    </div>
                </div>


          </div>
        </div>


{% endblock %}

{% block footer_js%}
{{ block.super }}
<script src='{% static "thirdparty/ace/ace.js" %}' type="text/javascript" charset="utf-8"></script>
<script src='{% static "thirdparty/ace/theme-github.js" %}' type="text/javascript" charset="utf-8"></script>
<script src='{% static "thirdparty/ace/mode-python.js" %}' type="text/javascript" charset="utf-8"></script>

<script src='{% static "thirdparty/DataTables/datatables.min.js" %}'></script>


<script>
	// set up Ace editor
	$('<div id="editor"></div>').insertBefore('#id_script');
	$('#id_script' ).css("display", "none")
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/github");
    editor.getSession().setMode("ace/mode/python");
    
    // set editor value to what I have in the form field script
    var textarea = $('#id_script');
    editor.setValue(textarea.val(), -1); // -1 is at the document start
    //console.log(textarea.val());
    editor.session.getUndoManager().markClean();
    
    //$('#submit-id-submit').on('click', function() {
    $("input[id^='submit-id']").on('click', function() {
        var editor_content = editor.getSession().getValue();
    	textarea.val(editor_content);
    });

    //
    var data_table_config = {
		lengthMenu: [[20, 50, 100, -1], [20, 50, 100, "All"]],
		paging: true,
		lengthChange: true,
		searching: true,
		ordering: true,
		info: true,
		autoWidth: true,
        stateSave: true, // saves
        columnDefs: [ {
            orderable: false,
            className: 'select-checkbox',
            targets:   0
        } ],
        select: {
            //style:    'os', //complex behaviours such as ctrl/cmd clicking to select / deselect individual items, shift clicking to select ranges and an unmodified click to select a single item.
            style:    'multi',
            selector: 'td:first-child'
        },
        order: [[ 1, 'asc' ]]
	}
    $("#tableruns").DataTable(data_table_config);


    // Model
    function pickSelectedRuns(){

        var table = $("#tableruns").DataTable();
        var selectedRows = table.rows( { selected: true } );
        var selectedRowsArray = selectedRows[0];
        var formData = [];
        for (var i = 0; i < selectedRowsArray.length; i++){
            var selectedData = table.row(selectedRowsArray[i]).data();
            console.log(selectedData);
            formData.push(selectedData[1]);
        }
        $('#id_parameters').val(JSON.stringify(formData));
        $('#runsModal').modal('hide');
    }
    
</script>
{% endblock %}
