 {% extends "base.html" %}
 
 {% load staticfiles %}

 {% load crispy_forms_tags %}
 
 {% block header %}
{{ block.super }}
<style type="text/css" media="screen">
    #editor {
		height: 600px;
		border-style: groove;
    }

    table.dataTable tbody tr.selected {
        background-color: #00451d !important;
    }
</style>

<link rel="stylesheet" type="text/css" href='{% static "thirdparty/DataTables/datatables.min.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "thirdparty/DataTables/Select-1.2.2/js/dataTables.select.min.js" %}'>

{% endblock %}

 
{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'reduction:list' %}">Reduction</a></li>
        <li class="active">{{object}}</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Reduction<small> script</small></h1>
    </div>
    <form>
    {#% crispy form  %#}

    {{ form.action|as_crispy_field }}

    <button name="generate" type="submit" class="btn btn-primary" data-toggle="tooltip"
        data-placement="top" title="Did you do something wrong? This regenerate the script from the reduction fields.">Generate the script</button>

    {{ form.parameters|as_crispy_field }}
    {{ form.script|as_crispy_field }}

    <button name="save" type="submit" class="btn btn-primary" data-toggle="tooltip"
        data-placement="top" title="Save the script and go back to the detail.">Save &amp; go back</button>
    
    <button name="generate" type="submit" class="btn btn-primary" data-toggle="tooltip"
        data-placement="top" title="Send the script to the cluster to be executed.">Save &amp; submit to the cluster</button>
    <button type="cancel" class="btn btn-default" onclick="window.history.back()">Cancel</button>
    </form>
</div>
<br/>



<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg"  onclick="showDataTable();">Open Modal</button>


      
        <!-- Modal -->
        <div class="modal fade" id="runsModal" role="dialog">
          <div class="modal-dialog">
          
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">

                            <table id="tableruns" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Run</th>
                                            <th>Title</th>
                                            <th>Location</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th>Run</th>
                                            <th>Title</th>
                                            <th>Location</th>
                                        </tr>
                                    </tfoot>
                                </table>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="pickSelectedRuns();">Pick these runs</button>
                    </div>
                </div>


          </div>
        </div>


{% endblock %}

{% block footer_js%}
{{ block.super }}
<script src='{% static "thirdparty/ace/ace.js" %}' type="text/javascript" charset="utf-8"></script>
<script src='{% static "thirdparty/ace/theme-github.js" %}' type="text/javascript" charset="utf-8"></script>
<script src='{% static "thirdparty/ace/mode-python.js" %}' type="text/javascript" charset="utf-8"></script>

<script src='{% static "thirdparty/DataTables/datatables.min.js" %}'></script>
<!-- <script src='{% static "thirdparty/DataTables/DataTables-1.10.15/js/jquery.dataTables.min.js" %}'></script> -->

<script>
	// set up Ace editor
	$('<div id="editor"></div>').insertBefore('#id_script');
	$('#id_script' ).css("display", "none")
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/github");
    editor.getSession().setMode("ace/mode/python");
    
    // set editor value to what I have in the form field script
    var textarea = $('#id_script');
    editor.setValue(textarea.val(), -1); // -1 is at the document start
    //console.log(textarea.val());
    editor.session.getUndoManager().markClean();
    
    //$('#submit-id-submit').on('click', function() {
    $("input[id^='submit-id']").on('click', function() {
        var editor_content = editor.getSession().getValue();
    	textarea.val(editor_content);
    });

    // Table

        // Setting up jQuery to pass csrf tokens to Django when using ajax.
	$.ajaxSetup({
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    });

    // set Instruments field
    function setDataTableContent() {
        $.ajax({
            url : "{% url 'catalog:list_runs_ajax_table' ipts=user.profile.ipts %}",
            type : 'get',
            dataType : 'json',
            success : function(data) {
                console.log(data);
                $("#tableruns").DataTable().destroy();
                $('#tableruns').empty(); // empty in case the columns change

                var table = $("#tableruns").DataTable(
                    {
                        data: data,
                        lengthMenu: [[20, 50, 100, -1], [20, 50, 100, "All"]],
                        paging: true,
                        lengthChange: true,
                        searching: true,
                        ordering: true,
                        info: true,
                        //autoWidth: true,
                        //stateSave: true, // saves
                        columns: [
                            { title: "Run" },
                            { title: "Title" },
                            { title: "Location" }
                        ],
                        columnDefs: [
                            {
                                targets: 2,
                                visible: false,
                                searchable: false
                            }
                        ],
                        select: {
                            style:    'os' //complex behaviours such as ctrl/cmd clicking to select / deselect individual items, shift clicking to select ranges and an unmodified click to select a single item.
                            //style:    'multi',
                            //selector: 'td:first-child'
                        },
                        order: [[ 0, 'asc' ]]
                    }
                );
                
                // see if there's any selected elements in the form
                var parameters = JSON.parse($("#id_parameters").val());
                if (parameters != null && parameters.length > 0){
                    // Add the selected elements in the form to the table
                    var tableData = table.data().toArray();
                    tableData.forEach(function(element, i) {
                        parameters.forEach(function(param) {
                            if (element[0] == param[0]){
                                table.rows(i).select();
                            }
                        });
                    });
                }

                $(".loader").hide();
                $('#runsModal').modal('show');
            },
            error: function () {
                $.notify("Error fetching catalog runs data...", "error");
                $(".loader").hide();
            }
        });
    }


    
    function showDataTable(){
        $(".loader").show();
        setDataTableContent();

        
    }
    


    // pick the select runs from the model and sets the form field parameters
    function pickSelectedRuns(){

        var table = $("#tableruns").DataTable();
        //var selectedRows = table.rows( { selected: true } );
        //var selectedRowsArray = selectedRows[0];
        //var formData = [];
        //for (var i = 0; i < selectedRowsArray.length; i++){
        //    var selectedData = table.row(selectedRowsArray[i]).data();
        //    console.log(selectedData);
        //    formData.push(selectedData[3]);
        //}
        //$('#id_parameters').val(JSON.stringify(formData));
        $('#id_parameters').val(JSON.stringify(table.rows( { selected: true } ).data().toArray()));
        $('#runsModal').modal('hide');
    }

    function init(){

        $("#div_id_script").hide();
        //$("#div_id_parameters").hide();
    }

    init();
    
</script>
{% endblock %}
