{% extends "catalog/list_iptss.html" %}

{% block table_header %}
    <th>IPTS</th>
    <th>Title</th>
    <th>Scans</th>
    <th>Date modified</th>
    <th>Users</th>
    <th></th>
{%endblock%}

{% block table_content %}
    {% for ipts in iptss %}
    <tr>
        <td><a href="{% url 'catalog:list_runs' ipts.ipts %}" data-toggle="tooltip"
            data-placement="right" title="Click to see the runs for this experiment...">{{ipts.ipts}}</a></td>
        <td>{{ipts.title}}</td>
        <td>{{ipts.size}}</td>
        <td>{{ipts.date | date:"DATETIME_FORMAT"}}</td>
        <td>
            {% for user in ipts.users %}
                <span data-toggle="tooltip" title="{{user.name}}">{{ user.id }}</span>
                {% if not forloop.last %}|{% endif%}
            {% endfor %}
        </td>
        <td>
            {% for user in ipts.users %} {{user.name}} {% endfor %}
        </td>
    </tr>
    {% endfor %}
{%endblock%}

{% block table_footer %}
    <th>IPTS</th>
    <th>Title</th>
    <th>Scans</th>
    <th>Date modified</th>
    <th>Users</th>
    <th></th>
{%endblock%}
