 {% extends "base.html" %}
 
 {% load staticfiles %}
 
 {% block header %}
 {{ block.super }}
<link rel="stylesheet" type="text/css" href='{% static "thirdparty/DataTables/datatables.min.css" %}'>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'catalog:list_instruments'%}">Catalog</a></li>
        <li><a href="{% url 'catalog:list_iptss' instrument %}">{{instrument}}</a></li>
		<li class="active">{{ipts}}</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
	
    <div class="page-header">
        <h1>Catalog {{instrument}} <small> Runs for {{ipts}}</small></h1>
    </div>

<table id="tableruns" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Run</th>
			<th>Title</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Duration (s)</th>
			<th>Total Counts</th>
			<th>SDD</th>
			<th>Lambda Req.</th>
			<th>Frame Skip.</th>
		</tr>
	</thead>
	<tbody>
		{% for run in runs %}
		<tr>
			<td>{{run.metadata.run_number}}</td>
			<!-- <td>{{run.metadata.title}}</td> -->
			<td><a href="{% url 'catalog:run_detail' instrument  ipts run.location %}">{{run.metadata.title}}</a></td>
			<td>{{run.start_time | date:"DATETIME_FORMAT"}}</td>
			<td>{{run.end_time | date:"DATETIME_FORMAT"}}</td>
			<td>{{run.metadata.duration|floatformat:2}}</td>
			<td>{{run.metadata.total_counts|stringformat:".2e"}}</td>
			<td>{{run.metadata.daslogs.detectorz.average_value|floatformat:2}}</td>
			<td>{{run.metadata.daslogs.lambdarequest.average_value|floatformat:2}}</td>
			<td>{{run.is_frame_skipping}}</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>Run</th>
			<th>Title</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Duration (s)</th>
			<th>Total Counts</th>
			<th>SDD</th>
			<th>Lambda Req.</th>
			<th>Frame Skip.</th>
		</tr>
	</tfoot>
</table>
</div>
{% endblock %}

{% block footer_js%}
{{ block.super }}
<script src='{% static "thirdparty/DataTables/datatables.min.js" %}'></script>
<script src='{% static "thirdparty/DataTables/Buttons/js/dataTables.buttons.min.js" %}'></script>
<script src='{% static "thirdparty/DataTables/Buttons/js/buttons.bootstrap.js" %}'></script>
<script src='{% static "thirdparty/DataTables/Buttons/js/buttons.colVis.min.js" %}'></script>
<!-- page script -->
<script>
        $(function () {
            $("#tableruns").DataTable({
				dom: 'Bflrtip',
                "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]],
                "order": [[ 0, 'desc' ]],
                "columnDefs": [
                	{ "type": "scientific", "targets": [4,6] },
					{ "type": "date", "targets": [2,3] },
					{ visible: false, targets: [4,5] }
  				],
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
				"autoWidth": true,
				buttons: [
					{
						extend: 'colvis',
						postfixButtons: [ 'colvisRestore' ]
					},
					{
						extend: 'copy',
						text: 'Copy to clipboard'
					},'csv'
				],
			stateSave: true, // saves
    			"initComplete": function( settings, json ) {
   					 $('div.loading').remove();
 				}
            });
            
        });
    </script>
{% endblock %}