{% extends "catalog/list_runs.html" %}

{% block table_header %}
	{{ block.super }}
	<th>Monitor</th>
	<th>Duration (s)</th>
	<th>Total Counts</th>
{% endblock table_header %}


{% block table_content %}
    
	{{ block.super }}
	<td>
		<div class="text-center">
			<a href="https://monitor.sns.gov/report/{{request.user.profile.instrument.catalog_name|lower}}/{{run.metadata.run_number}}/"  target="_blank"
				class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="bottom" title="Click to see this run in the monitor.">
				<span class="glyphicon glyphicon-new-window"></span>
			</a>
		</div>
	</td>
	<td>{{run.metadata.duration|floatformat:2}}</td>
	<td>{{run.metadata.total_counts|stringformat:".2e"}}</td>
    
{% endblock table_content %}


{% block table_footer %}
	{{ block.super }}
	<th>Monitor</th>
	<th>Duration (s)</th>
	<th>Total Counts</th>
{% endblock table_footer %}
