 {% extends "base.html" %}

 {% load staticfiles %}

 {% block header %}
 {{ block.super }}
<link rel="stylesheet" type="text/css" href='{% static "thirdparty/DataTables/datatables.min.css" %}'>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'sans:detail' object.id %}">{{object}}</a></li>
        <li class="active">IPTS Assignement</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Configuration Assignement to IPTS<small> {{object}}</small></h1>
    </div>

    <table id="table_configuration" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Integrated Proposal Tracking System (IPTS)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ipts in object_list %}
            <tr>
                <td>{{ipts}}</td>
                <td><a class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"
                    href="{% url 'sans:assign_ipts' object.id ipts %}"
                    title="Assign to the users of this IPTS.">Assign to the users of this IPTS</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Integrated Proposal Tracking System (IPTS)</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block footer_js%}
{{ block.super }}
<script src='{% static "thirdparty/DataTables/datatables.min.js" %}'></script>
<!-- page script -->
<script>
        $(function () {
            $("#table_configuration").DataTable({
                "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]],
                "order": [[ 0, 'asc' ]],
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
    			"initComplete": function( settings, json ) {
 				}
            });
        });
    </script>
{% endblock %}