{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
{{ block.super }}
<!-- handsontable -->
<link rel="stylesheet" type="text/css" href='{% static "thirdparty/handsontable/handsontable.full.min.css" %}'>
<style>
.list-group > li:nth-child(even) {
  background: #f5f5f5;
}
</style>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'sans:reduction_list' %}">Reduction</a></li>
        <li class="active">{{ object }}</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="container">

    <div class="page-header">
       <h1>Reduction details <small> {{ object }}</small></h1>
    </div>

	<!-- This is the reduction info -->
    <div class="container-fluid">
            <ul class="list-group">
                {% for f in object.get_all_fields %}
	                <li class="list-group-item">
						{% if f.name == "script" %}
							<pre><code>{{f.value}}</code></pre>
						{% else %}
							<strong>{{f.label|capfirst}}</strong>
							<span class="pull-right">{{f.value|escape|urlize|linebreaks}}</span>
						{% endif %}
	                </li>
	            {% endfor %}
            </ul>
    </div>
    <hr/>
    <!-- This is the region (low,med,high) info -->
    <div class="container-fluid">
			{% for entry in object.regions.all %}
			<h3>{{entry}}</h3>
            <ul class="list-group">
                {% for f in entry.get_all_fields %}
	                <li class="list-group-item">
						{% if f.name == "entries" %}
							<div id="hot-{{forloop.counter}}" value="{{f.value}}"></div>
						{% else %}
							<strong>{{f.label|capfirst}}</strong>
							<span class="pull-right">{{f.value|escape|urlize|linebreaks}}</span>
						{% endif %}
	                </li>
	            {% endfor %}
            </ul>
			{% endfor %}
    </div>

    <p>
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" href="{% url 'sans:reduction_update' object.pk %}"
            title="Click to edit the details of this configuration.">Edit</a>

        <a id="button_delete" class="btn btn-danger" data-toggle="tooltip" data-placement="top" href="{% url 'sans:reduction_delete' object.pk %}"
            title="Delete this reduction and associated regions.">Delete...</a>

        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" href="{% url 'sans:reduction_clone' object.pk %}"
            title="Creates a copy of this reduction as you might need a few different parameters.">Duplicate</a>

		<a class="btn btn-info" data-toggle="tooltip" data-placement="top" href="{% url 'sans:reduction_script' object.id  %}"
		    title="Generates a python script and prepare the job submission.">Run...</a>
		
        <a id="cancel" class="btn btn-default" data-toggle="tooltip" data-placement="top" onclick="window.history.back()"
        	href="#" title="Goes back....">Cancel</a>
    </p>
</div>
{% endblock %}

{% block footer_js%}
{{ block.super }}
<script src='{% static "thirdparty/handsontable/handsontable.full.min.js" %}'></script>
<!-- page script -->
<script>

/******************* handsontable *************************/

// Let's get the entries: id_regions-0-entries
var entriesSelectors = $('[id ^=hot]');

// For every input field add a div anchor to place the spreadsheet
$.each( entriesSelectors, function( i, selector ) {
    var dataAsString = $(selector).attr('value');
	dataAsString = dataAsString.replace(/\'/g,'"')
	dataAsString = dataAsString.replace(/None/g,'null')
	var data =  JSON.parse(dataAsString);
    //console.log(data);
    var options = {
        data: data,
        height: 300,
        minSpareRows: 10,
        stretchH: 'all',
        columnSorting: true,
        contextMenu: true,
        autoWrapRow: true,
        rowHeaders: false,
        colHeaders: {{entry_headers | safe}},
        contextMenu: true,
        outsideClickDeselects: false,
		readOnly: true
    };
    $(selector).handsontable(options);
    //remove it from the <ul>
    //$(selector).parent().parent().append($(selector));

});


</script>
{% endblock %}