{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block header %}
{{ block.super }}
<!-- handsontable -->
<link rel="stylesheet" type="text/css" href='{% static "thirdparty/handsontable/handsontable.full.min.css" %}'>

<style>
.ui-draggable {
    cursor: pointer;
    background: transparent;
}

.ui-draggable-dragging {
    position: relative;
    z-index: 1000000000;
}

</style>
{% endblock %}

 
{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'sans:reduction_list' %}">Reduction</a></li>
        <li class="active">{%if object %}{{object}}{% else %} new {% endif%}</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="page-header">
        <h1>Reduction <small> <strong>{{user.profile.ipts}}</strong> {%if user.profile.experiment_number and user.profile.experiment_number > 0%} / <strong>exp {{user.profile.experiment_number}} </strong> {% endif %} :: new</small></h1>
    </div>

    <div class="row">
        <div class="col-md-9">
            <form method="post" action="" class="form-horizontal" onsubmit="return populateFormWithHotContents();">
                {{ formset.management_form }}
                <div class="well">
                    <div class="panel-body">
                        {% crispy form  %}
                    </div>
                </div>

                <hr />
                
                <div class="well">
                    <div class="panel-body">
                        <ul class="nav nav-tabs nav-justified">
                        {% for f in formset %}
                            <li class="{{ forloop.first|yesno:'active,'}}"><a data-toggle="tab" href="#tab{{forloop.counter}}">Region {{forloop.counter}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                        <div class="tab-content">
                        {% for f in formset %}
                            <div id="tab{{forloop.counter}}" class="tab-pane fade{{ forloop.first|yesno:' in active,'}}">
                                {% crispy f f.helper %}
                                <div class="help-block"></div><!-- vertical spaces -->
                                <a href="#" class="btn btn-default" role="button" data-toggle="tooltip" title="Click to auto-populate the spreadsheet with info from ICat">Populate from ICat</a>
                            </div>
                        {% endfor %}
                        </div>
                        <!-- dropdown scan / frame -->
                        <div class="form-group pull-right">
                            <label for="sel1">Numbers in the spreadsheet are Scans or Frames: <tt>[INSTRUMENT]_exp[EXPERIMENT]_scan[SCAN]_[FRAME].xml</tt>?</label>
                            <select class="form-control" id="scan_or_frame">
                                <option value="scan">Scans</option>
                                <option value="frame">Frames</option>
                                <option value="abrv">Abreviated: [Scan]_[Frame]</option>
                                <option value="filename">Filename (E.g.: BioSANS_exp379_scan0020_0001.xml)</option>
                                <option value="filepath">Full file path</option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr />

                <button type="submit" class="btn btn-primary">Save</button>
                <button type="cancel" class="btn btn-default" onclick="window.history.back()" >Cancel</button>

            </form>
        </div>
        <!-- File List collumn -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Files for: <strong>{{user.profile.ipts}}</strong> {%if user.profile.experiment_number and user.profile.experiment_number > 0%} / <strong>exp {{user.profile.experiment_number}} </strong> {% endif %} </div>
                <div class="panel-body">
                    <table id="icat_table" class="display table table-striped table-hover" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_js%}
{{ block.super }}
<script src='{% static "thirdparty/DataTables/datatables.min.js" %}'></script>
<script src='{% static "thirdparty/handsontable/handsontable.full.min.js" %}'></script>
<!-- page script -->
<script>

/******************* handsontable *************************/
// Let's get the form entries: id_regions-#-entries
// starts with id_regions and finishes with entries
var entriesSelectors = $('[id ^=id_regions][id $=entries]');

function experiment(facility, instrument, ipts, exp) {
    this.facility = facility;
    this.instrument = instrument;
    this.ipts = ipts;
    this.exp = exp;
}
var experimentInfo = new experiment(
    "{{user.profile.facility.name}}",
    "{{user.profile.instrument.name}}",
    "{{user.profile.ipts}}",
    "{{user.profile.experiment_number}}"
);
/* 1 -> 0001 */
function padToFour(number) {
  if (number<=9999) { number = ("000"+number).slice(-4); }
  return number;
}
/* returns a full file path given scanNumber, frameNumber */
function filePath(scanNumber, frameNumber) {
    return "{{user.profile.instrument.drive_path}}/{{user.profile.ipts}}/" +
        "exp{{user.profile.experiment_number}}/Datafiles/{{user.profile.instrument.filename_prefix}}" +
        "_exp{{user.profile.experiment_number}}_scan" + padToFour(scanNumber)+ "_" + padToFour(frameNumber) +".xml"
}



// Builds a dictionary from the full file path
// fullpath of the format: /HFIR/CG2/IPTS-18381/exp180/Datafiles/CG2_exp180_scan0068_0001.xml
function filepathToDictionary(filepath) {
    var ret = filepath.match(/\/.*\/(.*_scan(\d+)_(\d+)\.xml)/);
    return {
        filepath: ret[0], 
        filename: ret[1], 
        scan: ret[2], // numeric
        frame: ret[3], // numeric
        abrv: ret[2] + "_" + ret[3]
    }
}

// hot
function setCellMetadata(hot_instance, ditionary, i, j) {
    var cell_properties = hot_instance.getCellMeta(i, j);
    cell_properties.info = ditionary;
}

// hot
function renderCellValue(hotInstance, TD, row, col, prop, value, cellProperties) {
    Handsontable.renderers.TextRenderer.apply(this, arguments);

    //console.log(TD, row, col, prop, value, cellProperties);
}



function hotNumericRendered(hotInstance, TD, row, col, prop, value, cellProperties) {
    
    Handsontable.renderers.TextRenderer.apply(this, arguments);
    console.log(TD, row, col, prop, value, cellProperties);
}

function set_spreadsheet_cell_properties_and_value(hot_instance, file_path, i, j) {
    var file_info = spreadsheet_cell_properties(hot_instance, file_path, i, j);
    var scan_or_frame = $("#scan_or_frame").val();
    hot_instance.setDataAtCell(i, j, file_info[scan_or_frame]);

}

function spreadsheet_cell_properties(hot_instance, file_path, i, j) {
    var cell_properties = hot_instance.getCellMeta(i, j);
    var file_info = filepath_to_scan_and_frame(file_path);
    cell_properties.scan = file_info.scan;
    cell_properties.frame = file_info.frame;
    cell_properties.filename = file_info.filename;
    cell_properties.filepath = file_info.filepath;
    return file_info;
}




// For every entry input field add a div anchor to place the spreadsheet
$.each(entriesSelectors, function (i, selector) {
    var data =  JSON.parse(selector.value);
    
    // var data = [{ name: "Test",
    //               thickness: 1, 
    //               sample_scattering: 10,
    //               sample_transmission: 10,
    //               backgroung_scattering: 10, backgroung_transmission: 10, }
    // ];
    // Add the anchor: <div id="hot-?" />
    var $div = $("<div>", { id: "hot-" + i, class: "hot handsontable" });
    $div.insertAfter(selector);
    //console.log(data);
    var options = {
        data: data,
        height: 300,
        minSpareRows: 10,
        stretchH: 'all',
        columnSorting: true,
        autoWrapRow: true,
        rowHeaders: true,
        outsideClickDeselects: false,
        formulas: true,
        manualColumnResize: true,
        columns: [
            { type: 'text', data: "name" },
            { type: 'numeric', data: "thickness" },
            {
                type: 'text', data: "sample_scattering",
                renderer: renderCellValue
            },
            { type: 'numeric', data: "sample_transmission" },
            { type: 'numeric', data: "backgroung_scattering" },
            { type: 'numeric', data: "backgroung_transmission" }
        ],
        colHeaders: ["Name", "Thickness", "Sample Scattering", "Sample Transmission", "Backgroung Scattering", "Backgroung Transmission"],
        renderAllRows: false,
        contextMenu: {
            items: {
                "row_above": {},
                "row_below": {},
                "remove_row": {},
            }
        }
    };
    $div.handsontable(options);
});

/*
 Let's map the spreasheet contents into the form entries field
 */
function populateFormWithHotContents() {
    // the selectors are ordered by the order they are in the DOM
    // entries are first, hot are after
    var hotSelectors = $('[id ^=hot-],[id ^=id_regions][id $=entries]');
    for (i = 0; i < hotSelectors.length; i = i + 2) {
        //console.log(hotSelectors[i]);
        //var hotContents = JSON.stringify($(hotSelectors[i+1]).handsontable('getData'));
        // getSourceData gets the data in the same format it was input. e.g. json
        var hotContents = $(hotSelectors[i + 1]).handsontable('getSourceData');
        for (var i = 0; i < hotContents.length; ++i) {
            for (var key in hotContents[i]) {
                if (hotContents[i].hasOwnProperty(key)) {
                    //console.log(i, key + " -> " + hotContents[i][key]);
                }
            }
        }
        $(hotSelectors[i]).val(hotContents);
    }
    return true;
};


/*
 This will re-render the spreadsheet on the visible tab!
 */
$('.nav-tabs a').on('shown.bs.tab', function (event) {
    //     console.log($(event.target).text());         // active tab
    //     console.log($(event.relatedTarget).text());  // previous tab
    $(event.target.hash + ' div.handsontable').handsontable('render');
});


/*******************************************/
/****** ICAT TABLE ************/
/*******************************************/

// Sets the value from djnago into a js array
var fullDataSet = JSON.parse("{{runs|escapejs}}");
// Let's get what we need for the table'
var dataSet = fullDataSet.map(function (run) {
    return [run.title, //0
    run.metadata.scan_type,
    run.thumbnails,
    run.location]; //3
});

// Make a datatable with icat contents
$(document).ready(function () {
    $('#icat_table').DataTable({
        data: dataSet,
        //dom: '<"top"i>rt<"bottom"flp><"clear">',
        columns: [{
            title: "Title",
            render: function (data, type, row, meta) {
                // renders every row of the table
                // Let's see how many thumbnails we have:
                var thumbs_dictionary = row[2];
                var thumbs_html = "<table><tr>";
                for (var key in thumbs_dictionary) {
                    if (thumbs_dictionary.hasOwnProperty(key)) {
                        //console.log(key);
                        thumbs_html += '<td><img src=&quot;data:image/png;base64,' + thumbs_dictionary[key] + '&quot; /><p>' + key + '</p></td>';
                    }
                }
                thumbs_html += "</tr></table>";
                return '<a href="#" data-toggle="tooltip" title="' +
                    thumbs_html +
                    + '<ul>' + // Below I'm escaping' quotes because this is the tooltip
                    '<li><strong>Sample</strong>: ' + JSON.stringify(fullDataSet[meta.row].sample_info).replace(/\"|\'/g, "\'") + '</li>' +
                    '<li><strong>Background</strong>: ' + JSON.stringify(fullDataSet[meta.row].sample_background).replace(/\"|\'/g, "\'") + '</li>' +
                    '<li><strong>Parameters</strong>: ' + JSON.stringify(fullDataSet[meta.row].sample_parameters).replace(/\"|\'/g, "\'") + '</li>' +
                    '</ul>' +
                    '" >' +
                    '<span class="glyphicon glyphicon-film" aria-hidden="true"></span>&nbsp;</a>' + fullDataSet[meta.row].metadata.scan_number + ": " + data.substring(0, 30);
            }
        },
        { title: "Type" },
        { title: "Image" },
        { title: "FilePath" }
        ],
        "columnDefs": [
            {
                "targets": [1],
                "visible": false,
                "searchable": true
            },
            {
                "targets": [2],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [3],
                "visible": false,
                "searchable": false
            }
        ],
        "order": [
            [0, 'asc']
        ],
        //"lengthMenu": [cell metadata
        //    [10, 20, 50, -1],
        //    [10, 20, 50, "All"]
        //],
        //"pageLength": 20,
        //"paging": true,
        "scrollY": "800px",
        "scrollCollapse": true,
        "paging": false,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "bInfo": false, // hide "Showing x on n"
        initComplete: function () {
            var api = this.api();
            var titles = api.column(0);
            var types = api.column(1);
            var filepath = api.column(3);
            // Add dropdown filltering
            var select = $('<select class="form-control"><option value=""></option></select>')
                .appendTo(".dataTables_filter")
                .on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex(
                        $(this).val()
                    );
                    types.search(val ? '^' + val + '$' : '', true, false).draw();
                });
            // populates the drop down
            types.data().unique().sort().each(function (d, j) {
                select.append('<option value="' + d + '">' + d + '</option>')
            });
            // Sets the id of the row to the file path
            $(this.fnGetNodes()).each(function (idx, tr) {
                $(tr).val(filepath.data()[idx]);
            });
            // Sets every row as draggable
            $(this.fnGetNodes()).draggable({
                revert: 'invalid',
                helper: 'clone',
                appendTo: 'body'
            });
        },
        "fnDrawCallback": function (oSettings) {
            // When table is redrawn!! E.g. page changes
            set_tooltip_as_image();
        },
    })
});

function set_tooltip_as_image() {
    // Tool tip options
    $('#icat_table a[data-toggle="tooltip"]').tooltip({
        animated: 'fade',
        placement: 'left',
        html: true,
        container: 'body' // To avoid tooltip clipping by the container overflow:auto
    });
}

/**** let's Make the spreasheet droppable */

// All handsomtables starting with id hot
$("[id^='hot']").droppable({
    //#hot-0 > div.ht_master.handsontable > div > div > div > table > tbody > tr:nth-child(8) > td:nth-child(5)

    accept: ".ui-draggable",
    activeClass: "ui-state-highlight",
    tolerance: "pointer",
    drop: function (event, ui) {
        // Get a reference to this handsontable instance
        var ht = $(this).closest("[id^='hot']").handsontable('getInstance');
        // Hide the helper, so that we can use .elementFromPoint
        // to grab the item beneath the cursor by coordinate
        ui.helper.hide();
        var $destination = $(document.elementFromPoint(event.clientX, event.clientY));
        var $cell = $destination.closest('td');

        // Grab the parent tr, then the parent tbody so that we
        // can use their index to find the row and column of the
        // destination object
        var $tr = $destination.closest('tr');
        var $tbody = $tr.closest('tbody');

        //var col = $tr.children().index($destination);
        var col = $cell.index() - 1;
        var row = $tbody.children().index($tr);

        if (row >= 0 && col >= 0) {
            //console.log("Setting i,j:", row, col, "with value = ", ui.draggable.val());
            set_spreadsheet_cell_properties_and_value(ht, ui.draggable.val(), row, col);
            $cell.css("background-color", "yellow");
        }
        console.log("done", $cell);
    },
    over: function (event, elem) {
        //$(this).addClass("over");
        //console.log("OVER:", elem);
    },
    out: function (event, elem) {
        //$(this).removeClass("over");
        //console.log("OUT:", elem);
    }
});





</script>


{# This is for django-autocomplete-light:  jquery is loaded before #}
{{ form.media }}
{% endblock %}
