 {% extends "base.html" %}
 
 {% load staticfiles %}

 {% load crispy_forms_tags %}
 
 {% block header %}
	{{ block.super }}
	<!-- handsontable -->
	<link rel="stylesheet" type="text/css" href='{% static "thirdparty/handsontable/handsontable.full.min.css" %}'>
	<!-- For the IPTS autocomplete-->
	<link rel="stylesheet" type="text/css" href='{% static "thirdparty/jquery-ui/jquery-ui.min.css" %}'>
<style>
    
</style>
{% endblock %}

 
{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'sans:reduction_list' %}">Reduction</a></li>
        <li class="active">{%if object %}{{object}}{% else %} new {% endif%}</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="page-header">
        <h1>Reduction<small> new</small></h1>
    </div>

    <div class="row">
        <div class="col-md-8">
            <form method="post" action="" class="form-horizontal" onsubmit="return populateFormWithHotContents();">
                {{ formset.management_form }}
                <div class="well">
                    <div class="panel-body">
                        {% crispy form  %}
                    </div>
                </div>

                <hr />
                
                <div class="well">
                    <div class="panel-body">
                        <ul class="nav nav-tabs nav-justified">
                        {% for f in formset %}
                            <li class="{{ forloop.first|yesno:'active,'}}"><a data-toggle="tab" href="#tab{{forloop.counter}}">Region {{forloop.counter}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                        <div class="tab-content">
                        {% for f in formset %}
                            <div id="tab{{forloop.counter}}" class="tab-pane fade{{ forloop.first|yesno:' in active,'}}">
                                {% crispy f f.helper %}
                                <div class="help-block"></div><!-- vertical spaces -->
                                <a href="#" class="btn btn-default" role="button" data-toggle="tooltip" title="Click to auto-populate the spreadsheet with info from ICat">Populate from ICat</a>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>

                <hr />

                <button type="submit" class="btn btn-primary">Save</button>
                <button type="cancel" class="btn btn-default" onclick="window.history.back()" >Cancel</button>

            </form>
        </div>
        <!-- File List collumn -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Files for this IPTS</div>
                <div class="panel-body">
                    <table id="icat_table" class="display table table-striped table-hover" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_js%}
{{ block.super }}
<script src='{% static "thirdparty/jquery-ui/jquery-ui.min.js" %}'></script>
<script src='{% static "thirdparty/DataTables/datatables.min.js" %}'></script>
<script src='{% static "thirdparty/handsontable/handsontable.full.min.js" %}'></script>
<!-- page script -->
<script>

/******************* handsontable *************************/

// Let's get the entries: id_regions-0-entries
var entriesSelectors = $('[id ^=id_regions][id $=entries]');

// For every input field add a div anchor to place the spreadsheet
$.each( entriesSelectors, function( i, selector ) {
    var data =  JSON.parse(selector.value);
    // Add the anchor: <div id="hot-?" />
    var $div = $("<div>", {id: "hot-" + i, class: "hot handsontable" });
    $div.insertAfter( selector );
    //console.log(data);
    var options = {
        data: data,
        height: 300,
        minSpareRows: 10,
        stretchH: 'all',
        columnSorting: true,
        contextMenu: true,
        autoWrapRow: true,
        rowHeaders: true,
        colHeaders: {{entry_headers | safe}},
        contextMenu: true,
        outsideClickDeselects: false,
        formulas: true,
        manualColumnResize: true
    };
    $div.handsontable(options);
});

/*
 Let's map the spreasheet contents into the form entries field
 */
function populateFormWithHotContents() {
    // the selectors are ordered by the order they are in the DOM
    // entries are first, hot are after
    var hotSelectors = $('[id ^=hot-],[id ^=id_regions][id $=entries]');
    for(i = 0; i < hotSelectors.length; i=i+2) {
        //console.log(hotSelectors[i]);
        var hotContents = JSON.stringify($(hotSelectors[i+1]).handsontable('getData'));
        $(hotSelectors[i]).val(hotContents);
    }
    return true;
};


/*
 This will re-render the spreadsheet on the visible tab!
 */
$('.nav-tabs a').on('shown.bs.tab', function(event){
//     console.log($(event.target).text());         // active tab
//     console.log($(event.relatedTarget).text());  // previous tab
    $(event.target.hash + ' div.handsontable').handsontable('render');
});

/****** ICAT TABLE ************/

    var dataSet = [{% for run in runs %}{% if forloop.last or runs.count == 1 %}
                    ["{{run.filename}}", '{{run.metadata.scan_type}}', '{{run.thumbnails.Detector}}' ]
                    {% else %}
                    ["{{run.filename}}", '{{run.metadata.scan_type}}', '{{run.thumbnails.Detector}}' ],
                    {% endif %}{% endfor %}];


    $(document).ready(function () {
        $('#icat_table').DataTable({
            data: dataSet,
            //dom: '<"top"i>rt<"bottom"flp><"clear">',
            columns: [{
                title: "Title",
                render: function (data, type, row, meta) {
                    return '<a data-toggle="tooltip" title="' +
                        //'<img src=\'data:image/png;base64,' + row[2] + '\' />'  +
                        '<p>' + data + '</p>' +
                        '<ul>  <li>Metdata 0</li><li>Metdata 1</li><li>Metdata 123</li></ul>' +
                        '">' +
                        '<span class="glyphicon glyphicon-film" aria-hidden="true"></span>&nbsp;</a>' + data;
                }
            },
            {
                title: "Type"
            },
            {
                title: "Image",
            }
            ],
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": false,
                    "searchable": true
                },
                {
                    "targets": [2],
                    "visible": false,
                    "searchable": false
                }
            ],
            "lengthMenu": [
                [10, 20, 50, -1],
                [10, 20, 50, "All"]
            ],
            "order": [
                [0, 'asc']
            ], //default sort
            "pageLength": 20,
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            initComplete: function () {
                var api = this.api();
                var titles = api.column(0);
                var types = api.column(1);

                var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo($(titles.header()).empty())
                    .on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                        types.search(val ? '^' + val + '$' : '', true, false).draw();
                        set_tooltip_as_image();
                    });
                // populates the drop down
                types.data().unique().sort().each(function (d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>')
                });
                //set_tooltip_as_image();

                $(this.fnGetNodes()).draggable({
                    revert: 'invalid',
                    helper: 'clone'
                });
            },
            "fnDrawCallback": function (oSettings) {
                // When table is redrawn!! E.g. page changes
                set_tooltip_as_image();
            }
        })
    });

    function set_tooltip_as_image() {
        // Tool tip options
        $('#icat_table a[data-toggle="tooltip"]').tooltip({
            animated: 'fade',
            placement: 'left',
            html: true
        });
    }



</script>
{# This is for django-autocomplete-light:  jquery is loaded before #}
{{ form.media }}

{% endblock %}
