django>=1.10

# Django Packages
django-crispy-forms
django-auth-ldap>=1.2.6
psycopg2>=2.6.1
django-environ
# Chained Selects (e.g. Pick facility then the associated instrument)
django-smart-selects
# Formsets
django-extra-views

# Other
# To have a nice ./manage.py shell
ipython

