{% extends "base.html" %}
{% load staticfiles %}
{% load catalog_filters %}

{% block header %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href='{% static "thirdparty/jquery.json-viewer/json-viewer/jquery.json-viewer.css" %}'>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'catalog:list_iptss' %}">{{user.profile.instrument}}</a></li>
        {%if exp %}
        <li><a href="{% url 'catalog:list_runs' ipts exp %}">{{ipts}} :: {{exp}} </a></li>        
        {%else%}
        <li><a href="{% url 'catalog:list_runs' ipts %}">{{ipts}}</a></li>        
        {%endif%}
        
		<li class="active">{{run.location}}</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="page-header">
        <h1>Run Detail <small> {{ run.metadata.scan_title }}</small></h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body"><div style="font-family: monospace;" id="json-renderer"></div></div>
    </div>    
</div>
{% endblock %}


{% block footer_js%}
{{ block.super }}
<script src='{% static "thirdparty/jquery.json-viewer/json-viewer/jquery.json-viewer.js" %}'></script>
<!-- page script -->
<script>
var data = {{run|remove_none|safe}};
if (Object.prototype.hasOwnProperty.call(data.metadata, "instrument")){
    delete data.metadata.instrument.instrument_xml;
}

$('#json-renderer').jsonViewer(data, {collapsed: false, withQuotes: false});
</script>
{% endblock %}
