{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    {% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title_tag %}<title>Web Data Reduction</title>{% endblock %}
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'imgs/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'imgs/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'imgs/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'imgs/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'imgs/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'imgs/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'imgs/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'imgs/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'imgs/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'imgs/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'imgs/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'imgs/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'imgs/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'imgs/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--link rel="stylesheet" type="text/css" href='{% static "thirdparty/jquery-ui/jquery-ui.min.css" %}'-->
    <link rel="stylesheet" type="text/css" href='{% static "thirdparty/bootstrap3/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/ornl-bootstrap-theme.css" %}'>
    <style>
        body {
            margin-top: 60px;
            padding: 20px;
        }
        .notifyjs-corner {
            top: 50px !important;
        }   
    </style>
    {% endblock header %}
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img alt="Brand" src='{% static "imgs/logo.png" %}'>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'catalog:list_instruments' %}" data-toggle="tooltip" title="Shows the catalog for all instruments in your selected profile facility!" >
                    	<span class="glyphicon glyphicon-book"></span> &nbsp;Catalog</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th-list"></span> &nbsp;Configuration <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{%if request.user.profile.instrument %}{% url 'sans:configuration_list' %}{% endif %}">List</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{%if request.user.profile.instrument %}{% url 'sans:configuration_create' %}{% endif %}">New</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th"></span> &nbsp;Reduction <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{%if request.user.profile.instrument %}{% url 'sans:reduction_list' %}{% endif %}">List</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{%if request.user.profile.instrument %}{% url 'sans:reduction_create' %}{% endif %}">New</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-play"></span> &nbsp;Results <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'results:job_list_live' %}">Job live status</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'results:job_list' %}">Job list</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Stitching</a></li>
                            <li><a href="#">Fitting</a></li>
                        </ul>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                	<li>{%if request.user.profile.instrument %}<p class="navbar-text">{{request.user.profile.instrument.name}}</p>{%endif%}</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <img src="{{ request.session.gravatar_url|safe }}&s=16"  class="user-image" alt="{{ user.username }}"/> &nbsp; <strong>{{user}}</strong>  <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if user.profile %}
                            <li><a href="{% url 'users:profile_update' user.profile.pk %}">Profile</a></li>
                            {% endif %}
                            <li><a href="{% url 'users:logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% endblock %}
    {% block breadcrumbs %}

    {% endblock %}

    <!-- Main content goes here-->
    {% block content %}
    {% endblock content %}

    {% block messages %}
    <br/>
    <div class="container">
        <!-- Messages usually comming from the form validation 
             This will show up at the bottom of the page -->
        {% if messages %}
          {% for message in messages %} {% if message.tags %}
            <div class="alert alert-{{ message.tags }}">{{ message|safe }}</div>
          {% else %}
            <div class="alert">{{ message|safe }}</div>
          {% endif %} {% endfor %}
        {% endif %}
        <!-- Messages end! -->
    </div>
    {% endblock messages %}

    {% block footer%}
    <footer>
        <hr />
        <table align="center" style="width: 100%">
            <tr>
                <td align="center">
                    <a title="UT-Battelle" href="http://ut-battelle.org" target="_blank" style="display:inline-block;height:44px;width:150px;"><img title="UT-Battelle" src='{% static "imgs/utb_logo.png" %}' alt="UT-Battelle" /></a>
                </td>
                <td>
                    <table align="center" style="width: 50%">
                        <tr>
                            <td align="center"><a title="Security Notice" href="http://www.ornl.gov/ornlhome/disclaimers.shtml" target="_blank">Security Notice</a></td>
                            <td align="center"><a title="Internal Users" href="http://www.ornl.gov/ornlhome/remote.shtml" target="_blank">Internal Users</a><br></td>
                        </tr>
                        <tr>
                            <td align="center"><a title="DOE - Oak Ridge" href="http://www.oakridge.doe.gov/external/" target="_blank">DOE - Oak Ridge</a></td>
                            <td align="center"><a title="UT-Battelle" href="http://ut-battelle.org" target="_blank">UT-Battelle</a></td>
                        </tr>
                    </table>
                </td>
                <td align="center">
                    <a title="Department of Energy, Office of Science" href="http://science.energy.gov/" target="_blank" style="display:inline-block;height:56px;width:173px;"><img title="Department of Energy , Office of Science" src='{% static "imgs/doe_os_logo.png" %}' alt="Department of Energy , Office of Science" /></a>
                </td>
            </tr>
        </table>
    </footer>
    {% endblock %}
    {% block footer_js%}
    <script src='{% static "thirdparty/jquery.min.js" %}'></script>
    <!--script src='{% static "thirdparty/jquery-ui/jquery-ui.min.js" %}'></script-->
    <script src='{% static "thirdparty/bootstrap3/js/bootstrap.min.js" %}'></script>
    <!-- Messages usually comming from the form validation -->
    <script src='{% static "thirdparty/notify/notify.js" %}'></script>
    <script>
        /*
        This notifications will appear at the same time as the notifications above
        These ones will show up on the right upper corner
        */
        // I'm overwriting the default style bootstrap because I need to
        // Send notifications with html
        // I replaced: data-notify-text by data-notify-html
        // I copied style from here: https://github.com/jpillora/notifyjs/blob/master/dist/notify.js#L585-L625
        var style = $.notify.getStyle('bootstrap');
        style.html = "<div>\n<span data-notify-html></span>\n</div>";
        $.notify.removeStyle("bootstrap");
        $.notify.addStyle("bootstrap", style);

        /**
        $.notify("Access granted", "success");
        $.notify("Do not press this button", "info");
        $.notify("Warning: Self-destruct in 3.. 2..", "warn");
        $.notify("BOOM!", "error");
        */
        $.notify.defaults({
            clickToHide: true,
            gap: 100,
            autoHideDelay: 10000,
        });
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                    // "if" because we have "danger" for bootstap and notifyjs uses "error"
                    $.notify("{{ message|safe }}", {% if message.tags == "danger" %} "error" {% else %} "{{ message.tags }}"{% endif %} );
                    console.log("{{ message|safe }}", "{{ message.tags }}")
                {% else %}
                    $.notify("{{ message|safe }}");
                {% endif %}
            {% endfor %}
        {% endif %}
        </script>
<!-- Messages end! -->
     {% endblock footer_js%}
</body>

</html>
