{% extends 'base.html' %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li class="active">Home</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="container">
  <div class="page-header">
    <h1>Welcome <small>This is your profile...</small></h1>
  </div>

  <p>
  <a class="btn btn-primary" href="{% url 'catalog:list_iptss' %}" data-toggle="tooltip" title="Shows the catalog for all instruments in your selected profile facility!" >
    <span class="glyphicon glyphicon-book"></span> &nbsp;Got to the Catalog</a>
  </p>

  <div class="well">
    <p>Hello <strong>{{ user.fullname }}</strong>!</p>
    <p> From the LDAP server we have the following information:</p>
    <ul>
      <li> <strong>Email: </strong> {{ user.email }} </li>
      <li> <strong>Address: </strong> {{ user.address }} </li>
    </ul>
    <p>Your home institution is: <strong>{{ user.profile.home_institution }}</strong>. </p>
    <p>Your intrument is: <strong>{{ user.profile.instrument }}</strong>. </p>
    <p>Your IPTS is: <strong>{{ user.profile.ipts }}</strong>. </p>
    <p>Your Experiment is: <strong>{{ user.profile.experiment }}</strong>. </p>
    <p>Your groups are: </p>
    <ul>
      {% for group in user.groups.all|dictsort:"name" %}
        {% if 'team' in group.name %}
          <li><strong>{{group}}</strong></li>
        {% else %}
          <li>{{group}}</li>
        {% endif %}


    	{% endfor %}

    </ul>
  </div>

</div>
<!-- /container -->

{% endblock %}
