{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{%if user.profile %}{% url 'users:profile_catalog_update' user.profile.pk %}{% endif %}">User Profile</a></li>
        <li class="active">{{ user }}</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="container">
        <div class="page-header">
            <h1>User Reduction Profile <small> Update: {{ user }}</small></h1>
        </div>
    
        <div class="well">
            <div class="panel-heading">Select IPTS used in the reduction.</div>
            <div class="panel-body">
                {% crispy form  %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js%}
{{ block.super }}
<script>

    {% if user.profile.facility.name != 'HFIR' %}
        $("#div_id_experiment").hide();
    {% endif %}

    var iptsValue = $('#id_ipts').val();
    var experimentValue = $('#id_experiment').val();

    /* [....,
    {'exp': ['exp240'],
    'ipts': 'IPTS-19748',
    'title': 'IPTS-19748 :: Exploring the rigidness of PDMS star polymers using '
             'SANS'},
   {'exp': ['exp251'],
    'ipts': 'IPTS-19988',
    'title': 'IPTS-19988 :: Understanding and Manipulating Domain Wall Order in '
    'Mn3O4'}] */
    var iptss = {{ iptss | safe}};

    // IPTS
    // text field into drop down
    $('#id_ipts').replaceWith('<select name="ipts" class="select form-control" id="id_ipts"></select>');
    
    // Add options to drop down
    $.each(iptss, function(i, p) {
        $('#id_ipts').append($('<option></option>').val(p.ipts).html(p.title));
    });
    // Set the selected option as the initial value in the form
    $('#id_ipts').val(iptsValue)
    
    
    // EXP
    // text field into drop down
    $('#id_experiment').replaceWith('<select name="experiment" class="select form-control" id="id_experiment"></select>');
    
    // If there's an ipts value, poluate the experiments
    if (iptsValue){
        var ipts_object = $.grep(iptss, function(e){ return e.ipts == iptsValue; });
        //console.log(ipts_object);
        // To cope with HFIR and SNS (no exp!)
        if (ipts_object.length > 0 && typeof(ipts_object[0].exp) !== 'undefined'){
            $.each(ipts_object[0].exp, function (i, value) {
                //console.log('Populating Exp:', value );
                var div_data = "<option value=" + value + ">" + value + "</option>";
                $(div_data).appendTo('#id_experiment');
            });
        }
    }
    
    // Set the selected option as the initial value in the form (after populating)
    if (experimentValue){
        $('#id_experiment').val(experimentValue)
    }

    // When the IPTS changes populates the Exp
    $('#id_ipts').change(function () {
        var selected = $('#id_ipts option:selected').val();
        //console.log('New selected IPTS:', selected);
        var ipts_object = $.grep(iptss, function(e){ return e.ipts == selected; });
        //console.log(ipts_object);
        $('#id_experiment').html("");
        $.each(ipts_object[0].exp, function (i, value) {
            //console.log( value );
            var div_data = "<option value=" + value + ">" + value + "</option>";
            $(div_data).appendTo('#id_experiment');
        });
        
    })

</script>
{% endblock %}