{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{%if user.profile %}{% url 'users:profile_update' user.profile.pk %}{% endif %}">User Profile</a></li>
        <li class="active">{{ user }}</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h1>User Profile<small> {{ user }}</small></h1>
    </div>

    <div class="well">
        <div class="panel-body">
            {% crispy form  %}
        </div>
    </div>
</div>

{% endblock %}

{% block footer_js%}
{{ block.super }}
<script>

    // Smart selects changes the style of the drop down. Get it back!
    $('#id_instrument').addClass("select form-control")

    // Setting up jQuery to pass csrf tokens to Django when using ajax.
	$.ajaxSetup({
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    });

    // id = 'id_ipts', name = 'ipts'
    function replaceWithSelect(id, name ) {
        var value = $('#'+id).val();
        $('#'+id).replaceWith('<select name="'+name+'" class="select form-control" id="'+id+'"></select>');
        if (value){
            $('<option value="" selected>-------------------</option>').appendTo('#'+id);
            //$("<option value=" + value + " selected>" + value + "</option>").appendTo('#'+id);
        }
    };

    var iptss = [];
    function fetchIptsInfo(){
        $('#button-id-fecth_oncat').button('loading');
        // Those are IDs!
        var facility = $('#id_facility').val();
        var instrument = $('#id_instrument').val();
        var facilityName = $("#id_facility option:selected").text();
        if (!facility || !instrument){
            $.notify("You must select both Facility and Instrument to fetch information from the Catalog.", "warn");
            $('#button-id-fecth_oncat').button('reset'); 
            return;
        }
        // Tansform text fields into dropdowns. If they have value, assign to it (update view only!)
        replaceWithSelect('id_ipts','ipts');
        
        // Get all the IPTS and experiments for tthis instrument
        $.getJSON(
            "{% url 'catalog:list_iptss_ajax' 1234 5678 %}"
                .replace(1234, facility)
                .replace(5678, instrument),
            function (data) {
                iptss = data;
                $.each(data, function (i, value) {
                    var div_data = "<option value=" + value.ipts + ">" + value.ipts + " :: " + value.title + "</option>";
                    $(div_data).appendTo('#id_ipts');
            });
        });
        ('#id_experiment').value = "";
        if (facilityName == "HFIR"){
            $("#id_ipts").change( function () {
                console.log("IPTS changed...");
                replaceWithSelect('id_experiment','experiment');
                // Let's find the experiments for the select IPTS
                var selectedIpts = $(this).val();
                //console.log( "selected IPTS:",  selectedIpts);
                var iptsDetails = $.grep(iptss, function(e){ return e.ipts == selectedIpts; });
                console.log( iptsDetails );
                
                if (iptsDetails.length > 0){
                    replaceWithSelect('id_experiment','experiment');
                    $.each(iptsDetails[0].exp, function (i, value) {
                        if (i < iptsDetails[0].exp.length - 1){
                            console.log( value );
                            var div_data = "<option value=" + value + ">" + value + "</option>";
                            $(div_data).appendTo('#id_experiment');
                        }
                    });
                }
            });
        }
        $('#button-id-fecth_oncat').button('reset');        
    };

    
</script>
{% endblock %}