{% extends "configuration/form.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <div class="page-header">
        <h1>Configuration<small> {%if object %}{{object}}{% else %} new {% endif%}</small></h1>
    </div>

    <form method="post" action="" class="form-horizontal">

        <!-- The form part -->
        <div class="well">
            <div class="panel-body">
                {% crispy form %}
            </div>
        </div>

        <!-- The formsets part -->
        <div class="well">
            <h3> Mask </h3>
            {% crispy formset formset.form.helper %}
            <p class="text-right">
                <a href="#" id="add_more" class="btn btn-info">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add another mask...</a>
            </p>
        </div>

        <hr />

        <button name="save" type="submit" class="btn btn-primary" data-toggle="tooltip"
            data-placement="top" title="Saves the configuration.">Save</button>
        <button type="cancel" class="btn btn-default" onclick="window.history.back()">Cancel</button>

    </form>



</div>


<!-- The tree modal form will be here (invisble) -->
<div id="dirlist_container" style="display: none;">
  <div id="dirlist_wrapper" class="dirlist"></div>
</div>



{% endblock %}

{% block footer_js%}
{{ block.super }}
<!-- For the form symbols -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML" async>
</script>
<script>
    /*
    For adding lines to the formset
    */
    $('#add_more').click(function(event) {
        var form_idx = $('#id_masks-TOTAL_FORMS').val();
        var empty_form = "<tr>" + $('.empty-form:first').html().replace(/__prefix__/g, form_idx) + "</tr>";
        $('.empty-form:last').parent().append(empty_form);
        $('#id_masks-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        event.preventDefault();
    });


</script>
{% endblock %}