{% extends "base.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block header %}
	{{ block.super }}
	<!-- jQueryFileTree -->
	<link rel="stylesheet" type="text/css" href='{% static "thirdparty/jqueryfiletree/jQueryFileTree.min.css" %}'>
	<!-- link rel="stylesheet" type="text/css" href='{% static "thirdparty/bootstrap3-dialog/css/bootstrap-dialog.min.css" %}' -->
<style>
.modal{
    display: block !important;
}
.modal-dialog{
      overflow-y: initial !important
}
.modal-body{
  height: 400px;
  overflow-y: auto;
}
</style>
{% endblock %}


{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'configuration:configuration_list' %}">Configuration</a></li>
        <li class="active">{%if object %}{{object}}{% else %} new {% endif%}</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Configuration<small> {%if object %}{{object}}{% else %} new {% endif%}</small></h1>
    </div>

    <div class="well">
				{% if form.errors %}
				<div class="panel-heading">
						<div class="alert alert-danger">There are errors in the form submission! See below.</div>
				</div>
				{% endif %}
        <div class="panel-body">
            {% crispy form  %}
        </div>
    </div>
</div>

<!-- The tree modal form will be here (invisble) -->
<div id="dirlist_container" style="display: none;">
  <div id="dirlist_wrapper" class="dirlist"></div>
</div>

{% endblock %}

{% block footer_js%}
	{{ block.super }}
	<!-- jQueryFileTree -->
	<script src='{% static "thirdparty/jqueryfiletree/jQueryFileTree.min.js" %}'></script>
	<script src='{% static "thirdparty/bootstrap3-dialog/js/bootstrap-dialog.min.js" %}'></script>
	<!-- page script -->
	<script>

	// Setting up jQuery to pass csrf tokens to Django when using ajax.
	$.ajaxSetup({
	  data: {
	    csrfmiddlewaretoken: '{{ csrf_token }}'
	  }
	});

	// Create the modal dialog to show the browser
	var dialog_server_side_browser = new BootstrapDialog({
		title: '{{request.user.profile.instrument.drive_path}} : Pick a file',
	  message: $("#dirlist_wrapper"),
	  onhidden: function() {
	    $("#dirlist_wrapper").appendTo('#dirlist_container'); // Put the dirlist back
	  },
	  buttons: [{
	  	label: 'Close',
	    action: function(dialogRef) {
	    	dialogRef.close();
	    }
	  }]
	});

	// keeps the selector to assign the selected file
	var selector;
	// Puts the file browser in the dialog
	$(function() {
		$('.dirlist')
			.fileTree({
				script: "{% url 'util:dirlist' %}",
				expandSpeed: 50,
				collapseSpeed: 50,
				multiFolder: false
			}, function(file) {
				$(selector).val(file);
				// When the file is selected, close the modal
				//console.log(file);
				dialog_server_side_browser.close();
			})
	 });

	// Add a button to fields ending with file
	$("input[name$='file']").wrap( "<div class='input-group'></div>" );
	$("input[name$='file']").after("<span class='input-group-btn'> \
		<button class='btn btn-primary server_side_browse_btn' \
			title='Browse server side {{request.user.profile.instrument.drive_path}}.' type='button'>\
		<span class='glyphicon glyphicon-search'></span></button></span>");
	// Add click event to the button
	$(".server_side_browse_btn").on('click', function(event) {
	  dialog_server_side_browser.open();
		selector = $(this).parent().parent().find("input")
	});

	</script>
{% endblock %}