 {% extends "base.html" %}

 {% load staticfiles %}

 {% block header %}
 {{ block.super }}
<link rel="stylesheet" type="text/css" href='{% static "thirdparty/DataTables/datatables.min.css" %}'>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="">Configuration</a></li>
        <li class="active">List</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Configuration<small> list</small></h1>
    </div>

    <table id="table_configuration" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date created</th>
                <th>Date modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{object.id}}</td>
                <td>
                <a href="{% url 'configuration:detail' object.id %}"
                   title="Click to see the details of this configuration."><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> {{object.title}}</a>
                </td>
                <td>{{object.created_date | date:"DATETIME_FORMAT" }}</td>
                <td>{{object.modified_date | date:"DATETIME_FORMAT" }}</td>
                <td>
                    <a data-toggle="tooltip" data-placement="right" href="{% url 'configuration:update' object.pk %}"
                        title="Click to edit the details of this configuration."><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    &nbsp;
                    <a data-toggle="tooltip" data-placement="right" href="{% url 'configuration:delete' object.pk %}"
                        title="Click to delete this configuration."><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date created</th>
                <th>Date modified</th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block footer_js%}
{{ block.super }}
<script src='{% static "thirdparty/DataTables/datatables.min.js" %}'></script>
<!-- page script -->
<script>
        $(function () {
            $("#table_configuration").DataTable({
                "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]],
                //"order": [[ 3, 'desc' ]],
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                columnDefs: [
                {
                    "targets": 4,
                    //"visible": false,      // And making this columns invisible ...
                    "orderable" : false,
                    "searchable": false,
                    "width": "10%",
                    "className": "text-center"
                },
                {
                    "targets": [2,3],
                    "className": "text-right"
                }
            ]
            });
        });
    </script>
{% endblock %}