{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="page-header">
    <h1>Main page <small>Subtext for header</small></h1>
  </div>

  <div class="well">
    <p>Hello <strong>{{ user.fullname }}</strong>!</p>
    <p> From the LDAP server we have the following information:</p>
    <ul>
      <li> <strong>Email: </strong> {{ user.email }} </li>
      <li> <strong>Address: </strong> {{ user.address }} </li>
    </ul>
    <p>Your home institution is: <strong>{{ user.profile.home_institution }}</strong>. </p>
    <p>Your intrument is: <strong>{{ user.profile.instrument }}</strong>. </p>
  </div>

</div>
<!-- /container -->

{% endblock %}
