{% extends "catalog/list_iptss.html" %}

{% block table_header %}
<tr>
    <th>IPTS</th>
    <th>Experiment</th>
    <th>Title</th>
    <th>Length</th>
</tr>
{%endblock%}

{% block table_content %}
    {% for ipts in iptss %}
        {% for exp in ipts.exp %}
            {% if exp|slice:":3" == "exp" %}
                <tr>
                    <td>{{ipts.ipts}}</td>
                    <td><a href="{% url 'catalog:list_runs' ipts.ipts exp %}" data-toggle="tooltip" data-placement="right" 
                        title="Click to see the runs for this experiment...">{{exp}}</a></td>
                    <td>{{ipts.title}}</td>
                    <td>{{ipts.size}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
{%endblock%}

{% block table_footer %}
<tr>
    <th>IPTS</th>
    <th>Experiment</th>
    <th>Title</th>
    <th>Length</th>
</tr>
{%endblock%}
