{% extends "catalog/hfir/list_runs.html" %}

{% block table_header %}
<th>Scan</th>
<th>Title</th>
<th>Time</th>
{%endblock%}

{% block table_content %}
<td>{{run.metadata.scan}}</td>
<td>{{run.metadata.scan_title}}</td>
<td>{{run.metadata.time}}</td>
{%endblock%}

{% block table_footer %}
<th>Scan</th>
<th>Title</th>
<th>Time</th>
{%endblock%}

{% block footer_js_data_table_config%}
   {{ block.super }}
   data_table_config.columnDefs = {};
   data_table_config.order = [[ 0, 'desc' ]];
{%endblock%}