 {% extends "base.html" %}
 
 {% load staticfiles %}
 
 {% block header %}
 {{ block.super }}
<link rel="stylesheet" type="text/css" href='{% static "thirdparty/DataTables/datatables.min.css" %}'>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'catalog:list_instruments'%}">Catalog</a></li>
        <li><a href="{% url 'catalog:list_iptss' instrument %}">{{instrument}}</a></li>
		<li class="active">{{ipts}}</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
	
    <div class="page-header">
        <h1>Catalog {{instrument}} <small> Runs for {{ipts}}</small></h1>
    </div>

<table id="tableruns" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>File Name</th>
			<th>Title</th>
			<th>End Time</th>
		</tr>
	</thead>
	<tbody>
		{% for run in runs %}
		<tr>
			<td>{{run.filename}}</td>
			<td>{{run.title}}</td>
			<td>{{run.end_time}}</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>File Name</th>
			<th>Title</th>
			<th>End Time</th>

		</tr>
	</tfoot>
</table>
</div>
{% endblock %}

{% block footer_js%}
{{ block.super }}
<script src='{% static "thirdparty/DataTables/datatables.min.js" %}'></script>
<!-- page script -->
<script>
        $(function () {
            $("#tableruns").DataTable({
                "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]],
                "order": [[ 0, 'desc' ]],
                "columnDefs": [
    				{ "type": "date", "targets": 2 },
  				],
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
            });
            
        });
    </script>
{% endblock %}