[Unit]
Description=Daphne Worker %%i

After=syslog.target
After=network.target
After=postgresql-9.5.service
After=nginx.service

Requires=daphne@%%i.socket

[Service]
Type=simple
RuntimeDirectory=daphne
PIDFile=/run/daphne.pid
WorkingDirectory=%(project_root)s/src

# %(project_root)s/dist/daphne.sock is the socket to receive nginx requests
ExecStart=%(project_venv)s/bin/daphne \
    -e systemd:domain=INET:index=0 \
    server.asgi:application

NonBlocking=true

# temp to access /HFIR and /SNS
# SNS Linux should provide a new user soon
User=rhf
Group=reduction

[Install]
WantedBy=multi-user.target

