[Unit]
Description=The NGINX HTTP server for Reduction
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=%(project_root)s/dist/nginx.pid
ExecStartPre=/usr/bin/rm -f %(project_root)s/dist/nginx.pid
ExecStartPre=/usr/sbin/nginx -t -c %(nginx_conf_file)s -g 'daemon on; master_process on;'
ExecStart=/usr/sbin/nginx -c %(nginx_conf_file)s -g 'daemon on; master_process on;'
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target
