[Unit]
Description=Reduction Redis persistent key-value database
After=network.target

[Service]
ExecStartPre=/bin/chown redis:redis %(project_root)s/dist/redis
ExecStart=/usr/bin/redis-server %(redis_conf_file)s --daemonize no
ExecStop=/usr/libexec/redis-shutdown
# As this user it has no access to other folders (e.g. $HOME)
User=redis
Group=redis

[Install]
WantedBy=multi-user.target
