#
# Based on /usr/lib/systemd/system/uwsgi.service
# sudo cp /usr/lib/systemd/system/uwsgi.service /usr/lib/systemd/system/uwsgi.service.orig
#
[Unit]
Description=uWSGI Emperor Service
After=syslog.target

[Service]
EnvironmentFile=-/etc/sysconfig/uwsgi
ExecStartPre=/bin/mkdir -p /run/uwsgi
ExecStartPre=/bin/mkdir -p /var/log/uwsgi

ExecStartPre=/bin/chown uwsgi:uwsgi /run/uwsgi
# ExecStart=/usr/sbin/uwsgi --ini /etc/uwsgi.ini
# I'm having the local version of uwsgi working as the RHEL7 is for python3.4
ExecStart=%(project_venv)s/bin/uwsgi --ini /etc/uwsgi.ini
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
