{% extends "base.html" %}
 
{% load staticfiles %}

{% load crispy_forms_tags %}
 
{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'sans:'|add:request.session.instrument.name|lower|add:':configuration_list' %}">Configuration</a></li>
        <li class="active">{%if object %}{{object}}{% else %} new {% endif%}</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Configuration<small> new</small></h1>
    </div>

    <div class="well">
        <div class="panel-body">
            {% crispy form  %}
        </div>
    </div>
</div>
{% endblock %}