 {% extends "base.html" %}
 
 {% load staticfiles %}
 
 {% block header %}
 {{ block.super }}
<link rel="stylesheet" type="text/css" href='{% static "thirdparty/DataTables/datatables.min.css" %}'>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="">Configuration</a></li>
        <li class="active">List</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Configuration<small> list</small></h1>
    </div>

    <table id="table_configuration" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date created</th>
                <th>Date modified</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{object.id}}</td>
                <td>{{object.title}}</td>
                <td>{{object.created_date | date:"DATETIME_FORMAT" }}</td>
                <td>{{object.modified_date | date:"DATETIME_FORMAT" }}</td>
                <td><a class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"
                    href="{% url 'sans:'|add:request.session.instrument.name|lower|add:':configuration_detail' object.id %}"
                    title="Click to see the details of this configuration.">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date created</th>
                <th>Date modified</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block footer_js%}
{{ block.super }}
<script src='{% static "thirdparty/DataTables/datatables.min.js" %}'></script>
<!-- page script -->
<script>
        $(function () {
            $("#table_configuration").DataTable({
                "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]],
                //"order": [[ 3, 'desc' ]],
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
{% endblock %}